@font-face {
  font-family: "GuardaSans";
  src: local("GuardaSans"),
  url("../fonts/GuardaSans-Regular.otf") format("otf"),
  url("../fonts/opensans.woff") format("woff"),
  url("../fonts/opensans.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}