@mixin clearfix() {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin ul-clear() {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin placeholder-color($color: red) {
  &::-webkit-input-placeholder {
    color: $color;
  }
  &::-moz-placeholder {
    color: $color;
  }
  &:-ms-input-placeholder {
    color: $color;
  }
}

@mixin zero-centered() {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

@mixin container() {
  position: relative;
  margin: 0 auto;
  padding: 0 $indent-small-help;
  @include clearfix;

  @include respond(desktop) {
    padding: 0 $indent-help;
  }

  @include respond(desktop-all) {
    max-width: $bp-xlarge;
  }
}