$font-family-base: "GuardaSans", Arial, Calibri, sans-serif;
//$font-family-light: "OpenSans Light", "Arial Narrow", Calibri, sans-serif;
$font-size-base: 14px;
$font-size-tablet: 18px;
$line-height: 1.8;

$brand-color: #283645;