.btn {
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  margin0: 0 10px 20px;
  padding: 10px 40px;
  font-size: 36px;
  font-weight: 700;
  text-decoration: none;
  color: $light-color;
  background-color: $brand-color;
  border: none;
  border-radius: 20px;
  outline: none;

  &:hover {
    color: $yellow-color;
    background-color: rgba($brand-color, 0.7);
  }

  &--main-prize {
    text-transform: uppercase;
    font-size: 45px;
    margin-bottom: 30px;
  }

  &--prize {
    min-width: 90%;
  }

  &--registration {
    float: right;
    margin-bottom: 70px;
    font-weight: 500;
    text-transform: uppercase;
    color: $light-color;
    background-color: $red-color;
  }
}