.conditions {
  color: $light-color;

  &__inner {
    @include container;
    background-color: $brand-color;
    border-top: 1px solid transparent;
  }
  
  &__title {
    margin: 16px 0 45px 0;
    text-align: center;
    font-size: $font-size-small-title;
    font-weight: 700;
    text-shadow: -2px 6px 5px rgba(#004c91, 0.9);

    @include respond(desktop) {
      margin: 16px 145px 45px 0;
      font-size: $font-size-title;
      text-align: right;
    }
  }

  &__pictures {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;

    @include respond(desktop) {
      flex-direction: row;
      justify-content: space-around;
      flex-wrap: nowrap;
    }
  }

  &__picture-item {
    position: relative;
    flex-basis: 130px;
    margin-bottom: 40px;

    &--arrow_up {
      img {
        transform: rotate(180deg) scaleX(-1);
      }
    }
  }
  
  &__rules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 56px;

    @include respond(tablet) {
      flex-direction: row;
    }
  }

  &__rules-item {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    flex-basis: 100%;

    @include respond(tablet) {
      margin-bottom: 0;
      font-size: 30px;
      flex-basis: 24%;
    }

    &--anketa {


      @include respond(desktop) {
        flex-basis: 30%;
      }
    }
  }
  
  &__footer {
    margin-right: -$indent-small-help;
    margin-left: -$indent-small-help;
    padding: 20px $indent-small-help;
    background-color: $yellow-color;
    color: $red-color;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;

    @include respond(desktop) {
      margin-right: -$indent-help;
      margin-left: -$indent-help;
      padding: 20px $indent-help;
      font-size: 30px;
    }
  }

}

