.page-footer {
  &__inner {
    @include container;
    min-height: 1024px;
    padding-top: 40px;
    background: #fff url("../img/bg-back-footer.jpg") top center no-repeat;
    background-image: url("../img/bg-round-down.png"),
                      url("../img/bg-back-footer.jpg");
    background-repeat: no-repeat;
    background-position: center top, center bottom;
  }

  &__logo {
    float: left;
    width: 225px;
    text-align: center;

    a {
      display: inline-block;
      vertical-align: top;
    }
  }

  &__text {
    padding-left: 225px;
    font-size: 22px;

    p {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  &__phone {
    font-size: 32px;
  }

  &__phone-link {
    margin-right: 25px;
    text-decoration: none;
    color: $brand-color;

    &:hover {
      color: $red-color;
    }
  }
}