.prizes {

  &__inner {
    @include container;
    background-image:
            linear-gradient(to right, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8)),
            url("../img/bg-back-footer.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center, top center;
    background-attachment: fixed;
  }

  &__title {
    margin: 0 165px 25px 75px;
    padding-top: 32px;
    text-align: left;
    font-size: $font-size-title;
    font-weight: 700;
    text-shadow: -2px 6px 5px rgba($dark-gray, 0.58);
  }

  &__picture {
    position: relative;
    display: block;
    margin-bottom: 40px;

    &.prizes__picture--main {
      padding-right: 40px;
    }

    img {
      transform: scale(1);
      transition: transform 1s ease-out;
    }

    &:hover {
      img {
        transform: scale(1.15);
        transition: transform 1s ease-out;
      }
    }
  }

  &__picture--main {
    display: table-cell;
    vertical-align: top;
    text-align: center;
  }

  &__block {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 90px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-basis: 33.3%;

    &.prizes__item--main {
      display: table;
      width: 100%;
      margin-bottom: 60px;
    }
  }

  &__description--main {
    display: table-cell;
    width: 415px;
    vertical-align: middle;
    font-size: 36px;

    p {
      margin: 0;
    }
  }


}