.registration {
  &__inner {
    @include container;
    background: $yellow-color url("../img/bg-logo-yellow.png") center center repeat;
  }

  &__title {
    margin-top: 0;
    padding-top: 60px;
    padding-right: 130px;
    color: $red-color;
    text-align: right;
    font-size: $font-size-title;
    font-weight: 700;
    text-shadow: -2px 6px 5px rgba(#d1af12, 0.98);
  }

  &__form {
    @include clearfix;
  }

  $input-width: 32.35294%; /* 385 / 1190*/

  &__input {
    float: left;
    //width: 32.35294%; /* 385 / 1190*/
    width: $input-width; /* 385 / 1190*/
    margin-right: 1.4%; /* 15 / 1190 */
    margin-bottom: 20px;
    padding: 10px 25px;
    font-size: $font-size-input;
    @include placeholder-color($dark-gray);
    border-radius: $input-radius;
    outline: none;
    border: none;

    &--help {
      margin-right: 0;
    }

    &--right {
      float: right;
      margin-right: 0;
      clear: right;
    }

    &--full {
      width: 100%;
      margin-right: 0;
    }

    &--checkbox {
      display: none;
      
      &:checked + label {
        &::before {
          content: "x";
          text-align: center;
          font-size: $font-size-input;
          line-height: 1.1;
         // background-color: red;
        }
      }
    }
    
    &--select {
      color: $dark-gray;
      font-size: 16px;

      .registration__input--default {
        font-size: $font-size-input;
      }
    }

    &--bottom {
      margin-bottom: 420px;
    }
  }

  &__label {
    display: inline-block;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 30px;
    font-size: $font-size-input * 0.7;
    font-weight: 700;
    text-decoration: underline;
    color: $red-color;

    &--checkbox {
      position: relative;
      padding-left: 55px;
      
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: -5px;
        width: 40px;
        height: 40px;
        background-color: $light-color;
        border-radius: $input-radius;
      }
    }
  }

  &__input-select {
    color: $dark-gray;
    font-size: 16px;
    height: 55px;

    &::-webkit-input-placeholder {
      font-size: 36px;
    }
    &::-moz-placeholder {
      font-size: 36px;
    }
    &:-ms-input-placeholder {
      font-size: 36px;
    }

    option {
      width: 20%;
    }

    option[selected="selected"] {
      color: red;
    }
  }

  &__block-inputs {
    float: right;
    width: 66.30252%;
    display: flex;
    justify-content: space-between;
  }

  &__block-contacts {
    @include clearfix;
  }

  &__block-trade {
    position: relative;
    @include clearfix;

    &::before {
      content: url("../img/shop-check.png");
      position: absolute;
      right: $input-width;
      top: 35px;
    }
  }
}